#modal { 
  height: 100vh;
  width: 100vw;
  background-color: #0e0a14ef;

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 400ms;
}

#modal.hide {
  display: none;
}

#modal .content {
  color: white;
  width: 420px;
}

#modal .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

#modal .header a {
  background-image: url('../assets/x.svg');

  display: flex;
  font-size: 0.01px;

  width: 20px;
  height: 20px;
}

#modal .header h1 {
  color: white; 
  font-size: 36px;
  line-height: 42px;
}

#modal form label {
  font-size: 14px;
  line-height: 16px;

  display: block;
  margin-bottom: 8px;
}

#modal form .search-field {
  display: flex;
}

#modal form input {
  flex: 1;
  background-color: var(--background-color);
  
  border-radius:  13px 0 0 13px;
  border: none;

  padding: 16px 24px;
  font-size: 16px;
  color: var(--text-color);
}

#modal form button { 
  width: 72px;
  height: 72px;

  background-color: var(--primary-color);

  border: 0;
  border-radius: 0 13px 13px 0;

  transition: 400ms;
}

#modal form button:hover {
  opacity: 0.7;
}

#modal .white-title {
  color: rgb(230, 230, 230);
  margin-top: 20px;
}

#modal.point .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}